nr_flows.json
[
    {
        "id": "tab1",
        "type": "tab",
        "label": "kollabeni",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ff_base",
        "type": "ui-base",
        "name": "kollabeni",
        "path": "/ui"
    },
    {
        "id": "ff_theme",
        "type": "ui-theme",
        "name": "Varsayılan Tema"
    },
    {
        "id": "ff_page1",
        "type": "ui-page",
        "name": "kollabeni",
        "ui": "ff_base",
        "theme": "ff_theme",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ff_group1",
        "type": "ui-group",
        "z": "",
        "name": "Anlık Değerler",
        "page": "ff_page1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "ff_group2",
        "type": "ui-group",
        "z": "",
        "name": "Grafikler",
        "page": "ff_page1",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "ff_gauge1",
        "type": "ui-gauge",
        "z": "tab1",
        "name": "Sıcaklık",
        "group": "ff_group1",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Sıcaklık",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "segments": [
            {"from": 0, "color": "#00b500"},
            {"from": 20, "color": "#e6e600"},
            {"from": 35, "color": "#ca3838"}
        ]
    },
    {
        "id": "ff_gauge2",
        "type": "ui-gauge",
        "z": "tab1",
        "name": "Nem",
        "group": "ff_group1",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Nem",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "segments": [
            {"from": 0, "color": "#00b500"},
            {"from": 40, "color": "#e6e600"},
            {"from": 70, "color": "#ca3838"}
        ]
    },
    {
        "id": "ff_gauge3",
        "type": "ui-gauge",
        "z": "tab1",
        "name": "Basınç",
        "group": "ff_group1",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Basınç",
        "label": "hPa",
        "format": "{{value}}",
        "min": 980,
        "max": 1030,
        "segments": [
            {"from": 0, "color": "#00b500"},
            {"from": 20, "color": "#e6e600"},
            {"from": 35, "color": "#ca3838"}
        ]
    },
    {
        "id": "ff_gauge4",
        "type": "ui-gauge",
        "z": "tab1",
        "name": "Ses",
        "group": "ff_group1",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Ses",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "segments": [
            {"from": 0, "color": "#00b500"},
            {"from": 40, "color": "#e6e600"},
            {"from": 70, "color": "#ca3838"}
        ]
    },
    {
        "id": "ff_text1",
        "type": "ui-text",
        "z": "tab1",
        "group": "ff_group1",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "CPU Sıcaklığı",
        "label": "CPU Sıcaklığı",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 300,
        "y": 200,
        "wires": []
    },
    {
        "id": "ff_text2",
        "type": "ui-text",
        "z": "tab1",
        "group": "ff_group1",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Boş RAM",
        "label": "Boş RAM",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 250,
        "wires": []
    },
    {
        "id": "ff_chart1",
        "type": "ui-chart",
        "z": "tab1",
        "name": "Sıcaklık Grafiği",
        "group": "ff_group2",
        "order": 1,
        "width": 6,
        "height": 5,
        "label": "Sıcaklık",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "colors": "#1f77b4",
        "useColor": true
    },
    {
        "id": "ff_chart2",
        "type": "ui-chart",
        "z": "tab1",
        "name": "Nem Grafiği",
        "group": "ff_group2",
        "order": 2,
        "width": 3,
        "height": 5,
        "label": "Nem",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "colors": "#2ca02c",
        "useColor": true
    },
    {
        "id": "ff_chart3",
        "type": "ui-chart",
        "z": "tab1",
        "name": "Basınç Grafiği",
        "group": "ff_group2",
        "order": 3,
        "width": 3,
        "height": 5,
        "label": "Basınç",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "colors": "#d62728",
        "useColor": true
    },
    {
        "id": "ff_mqtt_in",
        "type": "mqtt in",
        "z": "tab1",
        "name": "MQTT Lokal",
        "topic": "enderak/medikal/set1",
        "qos": "2",
        "datatype": "auto",
        "broker": "ff_mqtt_broker",
        "x": 150,
        "y": 100,
        "wires": [["ff_csv_parse"]]
    },
    {
        "id": "ff_csv_parse",
        "type": "function",
        "z": "tab1",
        "name": "CSV Parse",
        "func": "var parts = msg.payload.split(',');\nreturn [\n    {payload: parseFloat(parts[0])},\n    {payload: parseFloat(parts[1])},\n    {payload: parseFloat(parts[2])},\n    {payload: parseFloat(parts[3])},\n    {payload: parseFloat(parts[4])},\n    {payload: parseFloat(parts[5])}\n];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 100,
        "wires": [
            ["ff_gauge1"],
            ["ff_gauge2"],
            ["ff_gauge3"],
            ["ff_gauge4"],
            ["ff_text1"],
            ["ff_text2"]
        ]
    },
    {
        "id": "ff_mqtt_broker",
        "type": "mqtt-broker",
        "name": "Lokal MQTT",
        "broker": "10.54.34.54",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ff_chart_csv",
        "type": "function",
        "z": "tab1",
        "name": "CSV Parse Chart",
        "func": "var parts = msg.payload.split(',');\nreturn [\n    {topic: \"Sıcaklık\", payload: parseFloat(parts[0])},\n    {topic: \"Nem\", payload: parseFloat(parts[1])},\n    {topic: \"Basınç\", payload: parseFloat(parts[2])}\n];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 300,
        "wires": [
            ["ff_chart1"],
            ["ff_chart2"],
            ["ff_chart3"]
        ]
    }
]